body {
	font-family: "tangerine";
	font-size: 70px;
	color: white;
	text-align: center;
}

p {
	margin: 20px;
}

@font-face {
	font-family: 'dearlove';
	src: url("./fonts/vtks-dear-love/Vtks Dear Love.ttf");
}

@font-face {
	font-family: 'aqui';
	src: url("./fonts/Aquiline-two/AquilineTwo.ttf");
}

@font-face {
	font-family: 'porcelain';
	src: url("./fonts/Porcelain/Truetype/PORCELAIN.TTF");
}

@font-face {
	font-family: 'tangerine';
	src: url("./fonts/Tangerine/Tangerine_Regular.ttf");
}

#images img {
	margin-right: 30px;
	margin-bottom: 30px;
	border-radius: 12px;
}